<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
  <title th:text="#{email.customer.onboard.title}">JHipster creation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.activation.greeting(${user.firstName+' '+user.lastName})}">
  Dear
</p>
<p>Congratulations!!!Your current and savings bank account has been created in Bank X and You got 500 Rs. in your savings account on joining with us.</p>
<p >
  Please login with :
</p>
username : &nbsp;<span th:text="${user.login}"> username :</span>
password : &nbsp;<span th:text="${password}"> password :</span>
to make payments.
<!--<p>-->
<!--  Please find below link to login-->
<!--</p>-->
<!--<span th:text = "${url}">-->
<!--            <a th:href = "@{${url}}" />-->
<!--        </span>-->
<p>
  <span th:text="#{email.activation.text2}">Regards, </span>
  <br/>
  <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
