<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
  <title th:text="#{email.transaction.title}">JHipster creation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.transaction.greeting(${transaction.getAccountFrom.getUser().getFirstName()} +' '+ ${transaction.getAccountFrom.getUser().getLastName()})}">Dear </p>
<p><span th:text="#{email.transaction.text1(${transaction.getAccountFrom().getAccountNo()})}" /> is debited for Rs. <span th:text="${transaction.getBalance()}" /> and credited to a/c no. <span th:text="${transaction.getAccountTo().getAccountNo()}"/></p>
<p>
  <span th:text="#{email.activation.text2}">Regards, </span>
  <br />
  <em th:text="#{email.signature}">Bank X</em>
</p>
</body>
</html>
